*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
body {
  background-color: #e63946;
}

.timer-content {
  width: 30%;
  margin: 0 auto;
}

.header-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.timer-container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 50px;
  width: 80%;
  margin: 20px auto;
  border-radius: 3px;
}

.tab-item {
  display: inline-block;
  font-size: 20px;
  color: white;
  padding: 10px;
}

.tab-list {
  text-align: center;
}

.tab-item.active {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.tab-item-content {
  display: none;
  text-align: center;
}

.time {
  font-size: 130px;
  color: aliceblue;
  padding-top: 15px;
  padding-bottom: 25px;
  font-weight: bold;
}

button {
  padding: 20px 60px;
  font-size: 25px;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 8px;
  color: #e63946;

}

.tab-item-content.active {
  display: block;
}